/* --- Flexbox Base --- */
.flex {
    display: flex !important;
    flex-direction: row;
}

/* --- Flex Alignments --- */
.flex-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex !important;
    flex-direction: column !important;
}