/* --- Sizing --- */
.w-full {
    width: 100% !important;
}

.h-full {
    height: 100% !important;
}

/* --- Interactions --- */
.pointer {
    cursor: pointer !important;
}

/* --- Positioning --- */
.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}